[Desktop Entry]
Actions=new-window;
Categories=System;TerminalEmulator;
Comment=A terminal emulator
DBusActivatable=false
Exec=env GTK_IM_MODULE=simple /usr/bin/ghostty --gtk-single-instance=true
Icon=com.mitchellh.ghostty
Keywords=terminal;tty;pty;
Name=Ghostty
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=com.mitchellh.ghostty
Terminal=false
TerminalOptions=
TryExec=/usr/bin/ghostty
Type=Application
Version=1.0
X-GNOME-UsesNotifications=true
X-KDE-Shortcuts=Ctrl+Alt+T
X-KDE-SubstituteUID=false
X-KDE-Username=
X-TerminalArgAppId=--class=
X-TerminalArgDir=--working-directory=
X-TerminalArgExec=-e
X-TerminalArgHold=--wait-after-command
X-TerminalArgTitle=--title=

[Desktop Action new-window]
Exec=/usr/bin/ghostty --gtk-single-instance=true
Name=New Window
